* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

[contenteditable="true"] {
    outline: none;

}



/* 重置按钮样式 */
button {
    border: none;
    margin: 0;
    padding: 0;
    background: transparent;
    cursor: pointer;
    font: inherit;
    color: inherit;
}

button:focus {
    outline: none;
}

/* 重置输入框样式 */
input {
    border: none;
    outline: none;
    padding: 0;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background: transparent;
}