* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    /* 去除默认的下划线 */
    color: inherit;
    /* 继承父元素的文本颜色 */
}


[contenteditable="true"] {
    outline: none;

}

/* 重置按钮样式 */
button {
    cursor: pointer;
    font: inherit;
    color: inherit;
}

button:focus {
    outline: none;
}

/* 重置输入框样式 */
input {
    border: none;
    outline: none;
    padding: 0;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background: transparent;
}

.filename-node:empty::before {
    content: attr(data-placeholder);
    color: #999;
    font-style: italic;
    pointer-events: none;
}

/* 确保不会意外重置边框 */
button,
input,
label {
    border: initial;
}

/* // 美化滚动条 */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    width: 6px;
    background: rgba(#101F1C, 0.1);
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    border-radius: 2em;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(144, 147, 153, .5);
    background-clip: padding-box;
    min-height: 28px;
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    border-radius: 2em;
    transition: background-color .3s;
    cursor: pointer;
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgba(144, 147, 153, .3);
}